* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  /* font-family: 'Poppins' sans-serif; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  justify-content: Center;
  align-items: center;
  background: #f7f7f7;
  min-height: 100vh;
}

.wrapper {
  border-radius: 16px;
  background: #ffffff;
  width: 450px;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
}
.form {
  padding: 25px 30px;
}
.form header {
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
}

.form form {
  margin: 20px 0;
}

.form form .error-txt {
  color: #721c24;
  background: #f8d7da;
  padding: 8px 10px;
  text-align: center;
  border: 1px solid #f5c6cb;
  margin-bottom: 10px;
  border-radius: 5px;
  display: none;
}

form .name-details .field:first-child {
  margin-right: 10px;
}
form .name-details .field:last-child {
  margin-left: 10px;
}
.form form .field label {
  margin-bottom: 2px;
}
.form form .name-details {
  display: flex;
}
.form form .field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}

.form form .field input {
  outline: none;
}

.form form .input input {
  height: 40px;
  width: 100%;
  font-size: 16px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form form .image input {
  font-size: 17px;
}

.form form .button input {
  height: 45px;
  margin-top: 13px;
  border: none;
  font-size: 16px;
  font-weight: 400;
  background: #047aed;
  color: #f5f5f5;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.form form .field i {
  position: absolute;
  top: 70%;
  right: 15px;
  color: #ccc;
  transform: translateY(-50%);
  cursor: pointer;
}
.form form .field i.active::before {
  content: '\f070';
  color: #333;
}
.form .link {
  text-align: center;
  margin: 10px 0;
  font-weight: 17px;
  font-weight: normal;
}

.form .link a {
  text-decoration: none;
  color: #047aed;
  transition: 0.2s color ease;
}

.form .link a:hover {
  color: orangered;
}

.users {
  padding: 25px 30px;
}

.users header,
.users-list a {
  display: flex;
  padding-bottom: 20px;
  border-bottom: 1px solid #e6e6e6;
  justify-content: space-between;
  align-items: center;
}

.wrapper img {
  object-fit: cover;
  border-radius: 50%;
}

:is(.users, .users-list) .content {
  display: flex;
  align-items: center;
}

:is(.users, .users-list) .details {
  margin-left: 15px;
  color: #000;
}

.users header .content img {
  height: 50px;
  width: 50px;
}

:is(.users, .users-list) .details span {
  font-size: 18px;
  font-weight: 500;
}

.users header .logout {
  background: #047aed;
  color: #f4f4f4;
  padding: 8px 15px;
  font-size: 16px;
  border-radius: 5px;
}

.users .search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  position: relative;
}

.users .search .text {
  font-size: 18px;
}

.users .search input {
  position: absolute;
  height: 42px;
  width: calc(100% - 50px);
  padding: 0 13px;
  font-size: 16px;
  border-radius: 5px 0 0 5px;
  outline: none;
  border: 1px solid #ccc;
  pointer-events: none;
  opacity: 0;
  transition: all 0.3s ease;
}
.users .search input.show {
  opacity: 1;
  pointer-events: auto;
}
.users .search input.active {
  pointer-events: auto;
  opacity: 1;
}
.users .search button {
  width: 47px;
  height: 42px;
  border: none;
  border-radius: 0 5px 5px 0;
  outline: none;
  background: #fff;
  color: #333;
  font-size: 17px;
}

.users .search button.active {
  background: #047aed;
  color: #fff;
}

.users .search button.active i::before {
  content: '\f00d';
}
.users-list {
  max-height: 350px;
  overflow-y: auto;
}
:is(.users-list, .chat-box)::-webkit-scrollbar {
  width: 0px;
}

.users-list a {
  margin-bottom: 15px;
  padding-right: 15px;
  page-break-after: 10px;
}
.users-list a:last-child {
  border: none;
  margin-bottom: 0px;
}
.users-list a .content img {
  height: 40px;
  width: 40px;
  border: 1px solid aliceblue;
  object-fit: cover;
}

.users-list a .content p {
  color: #67676a;
}

.active-text {
  color: green;
}

p {
  font-size: 16px;
}

.users-list a .status-dot {
  color: #468669;
  font-size: 12px;
}

/*===================== This will be used in PHP to show offline users status
=========================================================== ================*/
.users-list a .status-dot.offline {
  color: #ccc;
  font-size: 12px;
}

/*================= Chat area styles 
====================================*/
.chat-area header {
  display: flex;
  align-items: center;
  padding: 18px 30px;
}

.chat-area header .back-icon {
  color: #333;
  font-size: 18px;
}
.chat-area header img {
  width: 45px;
  height: 45px;
  margin: 0 15px;
}

.chat-area header span {
  font-size: 17px;
  font-weight: 500;
}

.chat-box {
  height: 500px;
  overflow-y: auto;
  background: #f7f7f7;
  padding: 10px 30px 20px 30px;
  box-shadow: inset 0 32px 32px -32px rgb(0 0 0 / 5%),
    inset 0 -32px 32px -32px rgb(0 0 0 / 5%);
}
.chat-box .chat {
  margin: 17px 0;
}
.chat-box .chat p {
  word-wrap: break-word;
  padding: 8px 16px;
  box-shadow: inset 0 0 32px rgb(0 0 0 / 8%),
    inset 0 16px 16px -16px rgb(0 0 0 / 10%);
}

.chat-box .outgoing {
  display: flex;
  align-items: center;
}

.outgoing .details {
  margin-left: auto;
  max-width: calc(100% - 130px);
}

.outgoing .details p {
  background: #047aed;
  color: #fff;
  border-radius: 18px 18px 0 18px;
}

.chat-box .incoming {
  display: flex;
  align-items: flex-end;
}
.chat-box .incoming img {
  width: 35px;
  height: 35px;
  border: 1px solid aliceblue;
}
.incoming .details {
  margin-left: 10px;
  margin-right: auto;
  max-width: calc(100% - 130px);
}
.incoming .details p {
  background: #fff;
  color: #333;
  border-radius: 18px 18px 18px 0;
}

.chat-area .typing-area {
  padding: 18px 30px;
  display: flex;
  justify-content: space-between;
}

.typing-area input {
  height: 45px;
  width: calc(100% - 58px);
  font-size: 17px;
  padding: 0 13px;
  border: 1px solid #047aed;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.typing-area button.button {
  width: 55px;
  outline: none;
  border: none;
  border-radius: 0 5px 5px 0;
  background: #047aed;
  color: #ffff;
  cursor: pointer;
  font-size: 19px;
}
